body {background: #eee6e6;}
h1, h2, h3, h4, h5 {
  border-bottom: 1px solid rgb(199, 80, 80);
  color: #3648b1;
  padding-bottom: 8px
}
.container {
  margin: auto;
  width: 350px;
  text-align: center;
}
.listFlex {display: flex; justify-content: center;}

img {
  width: 80%;
}